<!DOCTYPE html>
<html lang="en" class="mdui-theme-auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title th:text="${artwork.getArtworkTitle()} + '-Artwork'">Unknown-Artwork</title>

    <link rel="stylesheet" href="https://unpkg.com/mdui@2.0.2/mdui.css">
    <script src="https://unpkg.com/mdui@2.0.2/mdui.global.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body class="mdui-theme-auto">
<div class="row" style="width: 100%">
    <div class="col-sm-3" style="margin-top: 75px; margin-left: 100px">
        <h1 th:text="${artwork.getArtworkTitle()}">
            Unknown-Artwork-Title
        </h1>
        <h3 th:text="${artwork.getAuthorName()}">
            Unknown-Author-Name
        </h3>
        <br>
        <p th:utext="${artwork.getDescription()}" style="color: dimgray">
            Unknown-Description
        </p>
        <p>
            <span th:each="tag:${artwork.getTags().split(';')}">
                <a th:text="'#' + ${tag}" th:href="'/search?keys=' + ${tag}"></a>
                <span th:text="${tag}" style="color: dimgray"></span>
            </span>
        </p>
        <p style="color: dimgray">
            <mdui-icon name='remove_red_eye--outlined' style="font-size: medium"></mdui-icon> <span th:text="${artwork.getViewCount()}"></span>
            <mdui-icon name='bookmarks--outlined' style="font-size: medium"></mdui-icon> <span th:text="${artwork.getBookmarkCount()}"></span>
            <mdui-icon name='thumb_up--outlined' style="font-size: medium"></mdui-icon> <span th:text="${artwork.getLikeCount()}"></span>
        </p>
        <!--/*@thymesVar id="formattedCreateTime" type="java.lang.String"*/-->
        <p th:text="${formattedCreateTime}" style="color: dimgray">
            Unknown-Create-Time
        </p>
    </div>
    <div class="col-sm-8" style="margin-top: 75px;text-align: center;margin-bottom: 50px" id="img-space">
        <img th:src="'http://forward-1.aozora.elaina-media.cc/api/artwork/getImage?url=' + ${artwork.getIllustUrlRegular()}" style="margin-left: 0;width: fit-content"/>
        <br><br>
        <mdui-button th:if="${artwork.getPageCount() > 1}" id="load-all-button" onclick="loadAllImage()">加载全部</mdui-button>
    </div>
</div>

<script>

    const imageAddress = "http://forward-1.aozora.elaina-media.cc/api/artwork/getImage?url=" + "[[${artwork.getIllustUrlRegular()}]]";
    const imageCount = [[${artwork.getPageCount()}]]

    function loadAllImage() {
        const imageSpace = document.getElementById("img-space");
        imageSpace.innerHTML = "";

        let image;
        for (let i = 0; i < imageCount; i++) {
            image = document.createElement("img");
            image.setAttribute("src", imageAddress.replaceAll("_p0_", "_p" + i + "_"));
            image.setAttribute("style", "margin-left: 0")

            imageSpace.appendChild(image)
            imageSpace.appendChild(document.createElement("br"))
            imageSpace.appendChild(document.createElement("br"))
        }
    }
</script>
</body>
</html>